# Created by https://www.toptal.com/developers/gitignore/api/macos,react,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,react,visualstudiocode

### macOS ###
# General
.DS_Store

### react ###
**/node_modules

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

### envファイル
.env
